.order-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 2vw;
  overflow-y: auto;
  height: 70vh;
}

.order-list.empty {
  color: #888;
  font-size: 1.5vw;
  text-align: center;
  width: 100%;
}

.order-card {
  background: #fff;
  border-radius: 1vw;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.08);
  padding: 2vw 2vw 1vw 2vw;
  min-width: 10vw;
  max-width: 12vw;
  min-height: 10vh;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
  border: 1px solid #e1e5e9;
  transition: box-shadow 0.2s;
}

.order-id {
  font-size: 1.5vw;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5vw;
}

.order-type {
  font-size: 1vw;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5vw;
}

.order-menu {
  font-size: 0.8vw;
  color: black;
  margin-bottom: 0.5vw;
}
.order-individual-request {
  font-size: 0.8vw;
  color: red;
  margin-bottom: 0.5vw;
  font-weight: bold;
}

.order-customer-request {
  font-size: 1vw;
  color: red;
  font-weight: bold;
  margin-bottom: 0.5vw;
}

.order-customer-request-title {
  font-size: 1vw;
  font-weight: bold;
  color: black;
}

.order-complete-button {
  font-size: 0.8vw;
  font-weight: bold;
  color: black;
  border-radius: 0.5vw;
  background-color: #ff7f00;
  color: white;
  border: none;
  padding: 0.5vw 1vw;
  cursor: pointer;
  margin-top: auto;
}

.order-complete-button:hover {
  background-color: #ff9900;
  transition: background-color 0.2s;
}

.order-complete-button.all {
  font-size: 0.8vw;
  font-weight: bold;
  color: black;
  border-radius: 0.5vw;
  background-color: #28a745;
  color: white;
}

.order-complete-button.all:hover {
  background-color: #218838;
  transition: background-color 0.2s;
}

.order-complete-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  margin-top: 1vw;
  width: 100%;
}
