html,
body {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  height: 100%;
}

.page-layout-root {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.page-layout-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.page-layout-content {
  padding: 0.5vw;
  flex: 1;
}
